<div class="card">
    <div class="card-header">
        {{tituloPagina}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] = 'filtroLista'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtrado por: {{filtroLista}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" 
                *ngIf='produtos && produtos.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                (click) = 'alternarImagem()'>
                                {{ exibirImagem ? 'Esconder' : 'Exibir'}} Imagem
                            </button>
                        </th>
                        <th>Produto</th>
                        <th>Código</th>
                        <th>Disponível</th>
                        <th>Preço</th>
                        <th>Ranking de 5 estrelas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let produto of produtosFiltrados'>
                        <td>
                            <img *ngIf = 'exibirImagem' 
                                [src] = 'produto.urlImagem'
                                [title] = 'produto.nomeProduto'
                                [style.width.px] = 'larguraImagem'
                                [style.margin.px] = 'margemImagem'>
                            
                        </td>
                        <td>{{produto.nomeProduto}}</td>
                        <td>{{produto.codigoProduto | lowercase | converteParaEspaco:'-'}}</td>
                        <td>{{produto.dataLancamento}}</td>
                        <td>{{produto.preco | currency: 'BRL':'symbol':'1.2-2'}}</td>
                        <td>{{produto.rating}}</td>                  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

